<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>VocalCheck</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
<nav style="height: 12vh">
    <div style="padding-top: 2vh" class="nav-wrapper  blue darken-4">
        <div class="left sidenav-trigger">
            <a href="?localeData=pl"><img th:alt="#{switch-pl}" src="/img/poland.png"></a>
            <a href="?localeData=en"><img th:alt="#{switch-en}" src="/img/united-kingdom.png"></a>
        </div>
        <a href="" class="brand-logo center">VocalCheck</a>
    </div>
</nav>
<div class="container">
    <div class="row center vertical-center" style="position: relative">
        <div class="col s12">
            <div class="card-panel" style="background-color: #4f5e82;">
                <div class="card-content">
                    <form action="/oauth2/authorization/google" method="GET">
                        <button type="submit" class="white blue-text text-darken-4 waves-effect waves-light btn-large" style="height: 25vh; width: 80%; font-size: calc(1em + 1vw); line-height: 2">
                            <span th:text="#{login}"></span>
                            <div>
                                <span class="fa fa-google fa-5x" style="font-size: calc(2em + 1vw)"></span>
                            </div>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
    <footer class="page-footer blue darken-4">
    <div class="container">
        <div class="footer-copyright">
            <div class="container">
                <span th:text="#{copyright}"></span>
                <a th:text="#{pjatk-link}" class="grey-text text-lighten-4 right" href="https://pja.edu.pl/"></a>
            </div>
        </div>
    </div>
</footer>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>